@font-face {
    font-family: "Lovelo";
    src: url(Lovelo-Black.woff2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    background-image: url(marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h3 {
    font-family: Lovelo;
    color: white;
}

p, input, label, button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

hr {
    border-color: rgb(239, 214, 52);
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 20rem;
}

#boxes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 27rem;
    margin-block: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.floating-box {
    background-color: rgba(20, 24, 50, 0.7);
    border: 1mm rgb(239, 214, 52) solid;
    border-radius: 5mm;
    display: flex;
    flex-direction: column;
}

#info-box {
    padding-inline: 2rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
}

#info-box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#form-box {
    gap: 1rem;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.response-box {
    background-color: rgba(20, 24, 50);
    border: 1mm rgb(239, 214, 52) solid;
    border-radius: 5mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: -2rem;
    padding-bottom: 1.5rem;
    padding-inline: 1rem;
    transition: transform 0.2s;
}

.service-checkbox {
    width: 1.2rem;
    aspect-ratio: 1;
}

.response-box:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

input.textbox {
    border: 0px;
    border-bottom: 0.5mm rgb(239, 214, 52) solid;
    padding-inline: 0.5rem;
    width: 15rem;
    height: 2rem;
    background-color: rgb(47, 53, 95);
    color: white;
    transition: background-color 0.2s, color 0.2s;;
}

input:focus {
    background-color: rgb(239, 239, 158);
    color: black;
    transition: background-color 0.2s, color 0.2s;
}

.checkbox-input {
    display: flex;
    flex-direction: column;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 1mm rgb(239, 214, 52) solid;
    border-radius: 2rem;
    background-color: rgba(20, 24, 50);
    color: rgb(239, 214, 52);
    padding-inline: 1.25rem;
    padding-block: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: white;
    color: black;
    transition: background-color 0.2s, color 0.2s;
}